In [2]:
import pandas as pd

url = "https://ucdp.uu.se/downloads/ged/ged211-csv.zip"
df = pd.read_csv(url, compression='zip')

/var/folders/sf/fgnzjnxx5s3296jtyx58zsxh0000gn/T/ipykernel_1812/1872155342.py:4: DtypeWarning: Columns (47) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(url, compression='zip')

In [3]:
columns = ['id', 'year', 'active_year', 
    'type_of_violence', 'conflict_name', 'side_a', 
    'side_b', 'where_prec', 'where_coordinates', 
    'latitude', 'longitude', 'country',
    'region', 'date_prec', 'date_start', 
    'date_end', 'deaths_a', 'deaths_b', 
    'deaths_civilians', 'deaths_unknown']

df = df[columns]
df.head()

,id,year,active_year,type_of_violence,conflict_name,side_a,side_b,where_prec,where_coordinates,latitude,longitude,country,region,date_prec,date_start,date_end,deaths_a,deaths_b,deaths_civilians,deaths_unknown
0,244657,2017,1,1,Iraq: Government,Government of Iraq,IS,1,Kabul city,34.531094,69.162796,Afghanistan,Asia,1,2017-07-31 00:00:00.000,2017-07-31 00:00:00.000,0,4,0,2
1,132140,1989,1,1,Afghanistan: Government,Government of Afghanistan,Jam'iyyat-i Islami-yi Afghanistan,4,Nangarhar province,34.333330,70.416670,Afghanistan,Asia,3,1989-01-07 00:00:00.000,1989-01-13 00:00:00.000,6,0,0,0
2,130364,1989,1,1,Afghanistan: Government,Government of Afghanistan,Jam'iyyat-i Islami-yi Afghanistan,4,Kunduz province,36.750000,68.750000,Afghanistan,Asia,2,1989-01-15 00:00:00.000,1989-01-18 00:00:00.000,0,0,0,4
3,130359,1989,1,1,Afghanistan: Government,Government of Afghanistan,Jam'iyyat-i Islami-yi Afghanistan,1,Salang pass,35.315833,69.038889,Afghanistan,Asia,2,1989-01-23 00:00:00.000,1989-01-24 00:00:00.000,0,0,0,600
4,133883,1989,1,1,Afghanistan: Government,Government of Afghanistan,Jam'iyyat-i Islami-yi Afghanistan,1,Kabul city,34.531094,69.162796,Afghanistan,Asia,3,1989-01-30 00:00:00.000,1989-02-05 00:00:00.000,0,0,0,2

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 261864 entries, 0 to 261863
Data columns (total 20 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   id                 261864 non-null  int64
 1   year               261864 non-null  int64
 2   active_year        261864 non-null  int64
 3   type_of_violence   261864 non-null  int64
 4   conflict_name      261864 non-null  object
 5   side_a             261864 non-null  object
 6   side_b             261864 non-null  object
 7   where_prec         261864 non-null  int64
 8   where_coordinates  261864 non-null  object
 9   latitude           261864 non-null  float64
 10  longitude          261864 non-null  float64
 11  country            261864 non-null  object
 12  region             261864 non-null  object
 13  date_prec          261864 non-null  int64
 14  date_start         261864 non-null  object
 15  date_end           261864 non-null  object
 16  deaths_a           261864 non-null  int64
 17  deaths_b           261864 non-null  int64
 18  deaths_civilians   261864 non-null  int64
 19  deaths_unknown     261864 non-null  int64
dtypes: float64(2), int64(10), object(8)
memory usage: 40.0+ MB

In [5]:
df.isna().sum()/len(df)

id                   0.0
year                 0.0
active_year          0.0
type_of_violence     0.0
conflict_name        0.0
side_a               0.0
side_b               0.0
where_prec           0.0
where_coordinates    0.0
latitude             0.0
longitude            0.0
country              0.0
region               0.0
date_prec            0.0
date_start           0.0
date_end             0.0
deaths_a             0.0
deaths_b             0.0
deaths_civilians     0.0
deaths_unknown       0.0
dtype: float64

In [6]:
df.groupby(["region"]).size()

region
Africa          48625
Americas        16848
Asia            82610
Europe          12573
Middle East    101208
dtype: int64

In [7]:
total_deaths = df['deaths_a'] + df['deaths_b'] + df['deaths_civilians'] + df['deaths_unknown']